.heroFourthContainer {
  width: 1140px;
  height: 537px;
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.heroFourthContainerTop {
  width: 1140px;
  height: 242px;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 81, 47, 0.5) 0%,
    rgba(240, 152, 25, 0.5) 100%
  );
  border-radius: 12px;
  display: flex;
  gap: 70px;
  margin-bottom: 16px;
}

.heroFourthContainerTopLeft {
  width: 404px;
  padding-left: 20px;
  padding-top: 52px;
}

.heroFourthContainerTopCenter {
  width: 147px;
  height: 128px;
  margin: 0;
  padding: 0;
  padding-top: 59px;
}

.heroFourthContainerTopRight {
  width: 402px;
  height: 242px;
  margin: 0;
  padding: 0;
}

.heroFourthContainerBottom {
  width: 1140px;
  height: 279px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.heroFourthContainerBottomLeft {
  width: 562px;
  height: 279px;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 81, 47, 0.5) 0%,
    rgba(240, 152, 25, 0.5) 100%
  );
  border-radius: 8px;
  display: flex;
  position: relative;
}

.heroFourthContainerBottomLeftDescription {
  width: 248px;
  height: 215px;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  margin-left: 20px;
}

.heroFourthContainerBottomLeftImage {
  width: 352px;
  height: 279px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.heroFourthContainerBottomRight {
  width: 562px;
  height: 279px;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 81, 47, 0.5) 0%,
    rgba(240, 152, 25, 0.5) 100%
  );
  border-radius: 8px;
  display: flex;
  position: relative;
}

.heroFourthContainerBottomRightDescription {
  width: 291px;
  height: 215px;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  margin-left: 20px;
}

.heroFourthContainerBottomRightImage {
  width: 341px;
  height: 279px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 3px;
  top: 3px;
}

.startshoppingButton {
  margin: 0;
  padding: 0;
  width: 147px;
  height: 51px;
  border: none;
  border-radius: 8px;
  background-color: #ffe2c7;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #46474b;
  text-align: center;
}

.startshoppingButton:hover{
  background-color: white;
}