.cartContainerTop {
  width: 1140px;
  height: 827px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.cartContainerLeft {
  width: 360px;
  height: 827px;
}

.cartContainerLeftFirst {
  width: 360px;
  height: 426px;
  border-radius: 12px;
}

.cartContainerLeftSecond {
  width: 360px;
  height: 75px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.cartContainerLeftSecondImageContainer {
  width: 75px;
  height: 75px;
  border-radius: 12px;
  background-color: #ffe0c4;
}

.cartLeftSecondImage {
  width: 75px;
  height: 59px;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.cartContainerLeftThird {
  width: 360px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.cartContainerLeftThirdButtonFirst {
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ffe2c7;
  text-align: center;
  color: #282323;
}

.cartContainerLeftThirdButtonSecond {
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ffc690;
  text-align: center;
  color: #282323;
}

.cartContainerLeftThirdButtonIcon {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  margin-left: 25px;
}

.cartContainerLeftFourth {
  width: 360px;
  height: 226px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  border-radius: 12px;
  background-color: #ffe8d4;
}

.cartContainerLeftFourthTitle {
  width: 176px;
  height: 29px;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: 500;
}

.cartContainerLeftFourthDescription {
  width: 328px;
  height: 152px;
  padding-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

.cartContainerLeftFourthDescriptionList {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 97px;
}

.cartContainerLeftFourthDescriptionLeft {
  width: 138px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

.cartContainerLeftFourthDescriptionRight {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 0;
}

.cartContainerRight {
  width: 760px;
  height: 827px;
}

.cartContainerRightTop {
  width: 427px;
  height: 367px;
}

.cartContainerRightTopFirst {
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}
.cartContainerRightTopSecond {
  width: 71px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background-color: #fa902d;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.cartContainerRightTopThird {
  width: 180px;
  height: 51px;
  margin-bottom: 16px;
}

.cartContainerRightTopThirdBottom {
  height: 24px;
  display: flex;
  align-items: top;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.cartContainerRightTopFourth {
  width: 427px;
  height: 116px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.cartContainerRightTopFourthList {
  margin: 0;
  padding: 0;
  height: 24px;
  display: flex;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 8px;
}

.cartContainerRightTopFourthList p {
  margin: 0;
  padding: 0;
}
.cartContainerRightTopFourthListImage {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.cartContainerRightBottom {
  width: 760px;
  height: 415px;
  background-color: #ffe8d4;
  border-radius: 12px;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  overflow-y: scroll;
}

.cartContainerRightBottom::-webkit-scrollbar {
  display: none;
}

.cartContainerRightBottomFirst {
  width: 728px;
  height: 152px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  display: flex;
  align-items: top;
  gap: 109px;
}

.cartContainerRightBottomFirstLeft {
  width: 262px;
  margin: 0;
  padding: 0;
}

.cartContainerRightBottomFirstLeft p {
  margin: 0;
  padding: 0;
}

.cartContainerRightBottomFirstCenter {
  margin: 0;
  padding: 0;
  width: 2px;
  border-left: 2px solid #282323;
  height: 152px;
}

.cartContainerRightBottomFirstRightRating {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 80px;
  height: 24px;
  margin-bottom: 8px;
}

.cartContainerRightBottomFirstRightRatingStars {
  width: 128px;
}

.RatingStarImage {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.RatingStarText {
  font-size: 20px;
  font-weight: 400;
  color: #282323;
}

.cartContainerRightBottomSecond {
  width: 728px;
  /* height: 260px; */
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.cartContainerRightBottomSecondRating {
  width: 260px;
  height: 24px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 18px;
}

.cartContainerRightBottomSecondRatingStars {
  width: 128px;
  height: 24px;
  display: flex;
  align-items: top;
  gap: 2px;
}

.cartContainerRightBottomSecondRatingStarsText {
  margin: 0;
  padding: 0;
  width: 115px;
  /* height: 24px; */
  font-size: 14px;
  font-weight: 400;
  color: #46474b;
}

.cartContainerRightBottomSecondRatingDescription {
  width: 728px;
  height: 57px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 16px;
}

.cartContainerRightBottomSecondRatingImages {
  width: 528px;
  height: 120px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.cartContainerRightBottomSecondRatingImagesContainer {
  width: 120px;
  height: 120px;
}

.reviewImages {
  width: 120px;
  height: 90px;
}

.cartContainerBottom {
  width: 1140px;
  height: 348px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.cartContainerBottomSecond {
  width: 1140px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
}

.cartContainerBottomSecond::-webkit-scrollbar {
  display: none;
}

.cartContainerBottomImageContainer {
  width: 212px;
  height: 294px;
  background-color: #ffe8d4;
  border-radius: 12px;
}

.cartContainerBottomImageContainerTitle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 4px;
  margin-left: 16px;
}

.cartContainerBottomImageContainerPrice {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #fa902d;
  margin-bottom: 4px;
  margin-left: 16px;
}

.cartContainerBottomImageContainerPastPrice {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  color: #8f8787;
  margin-left: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.cartBottomImage {
  width: 212px;
  height: 201px;
  margin: 0;
  padding: 0;
}
