.footerContainer {
  width: 1140px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 131px;
  /* position: relative; */
}

.footerContainerFirst {
  /* position: absolute; */
  width: 91px;
  height: 122px;
  margin-bottom: 32px;
}

.footerContainerSecond {
  margin: 0;
  padding: 0;
  width: 219px;
}

.footerContainerThird {
  width: 92px;
}

.footerContainerFourth {
  width: 98px;
}

.footerContainerFifth {
  width: 128px;
}
.footerList {
  padding: 0;
  margin: 0;
  margin-right: 0;
  font-size: 16px;
  font-weight: 400;
  color: #46474b;
  margin-bottom: 12px;
  cursor: pointer;
}
.footerList:active{
  color:blue;
}