.termsandconitionsContainer {
  width: 1140px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.termsandconitionsContainerFirst {
  width: 1080px;
  height: 102px;
  margin: 0;
  margin-bottom: 24px;
}

.termsandconitionsContainerSecond {
  width: 1140px;
  margin: 0;
  padding: 0;
}

.TCList {
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  padding-bottom: 16px;
  list-style-position: inside;

}


.termsandconitionsContainer ol {
  margin: 0;
  padding: 0;
}
