.productdetailContainerTop {
  width: 1140px;
  height: 827px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.productdetailContainerLeft {
  width: 360px;
  height: 827px;
}

.productdetailContainerLeftFirst {
  width: 360px;
  height: 426px;
  border-radius: 12px;
}

.productdetailContainerLeftSecond {
  width: 360px;
  height: 75px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.productdetailContainerLeftSecondImageContainer {
  width: 75px;
  height: 75px;
  border-radius: 12px;
  background-color: #ffe0c4;
}

.productdetailLeftSecondImage {
  width: 75px;
  height: 59px;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.productdetailContainerLeftThird {
  width: 360px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.productdetailContainerLeftThirdButtonFirst {
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ffe2c7;
  text-align: center;
  color: #282323;
}

.productdetailContainerLeftThirdButtonSecond {
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ffc690;
  text-align: center;
  color: #282323;
}

.productdetailContainerLeftThirdButtonIcon {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  margin-left: 25px;
}

.productdetailContainerLeftFourth {
  width: 360px;
  height: 226px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  border-radius: 12px;
  background-color: #ffe8d4;
}

.productdetailContainerLeftFourthTitle {
  width: 176px;
  height: 29px;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: 500;
}

.productdetailContainerLeftFourthDescription {
  width: 328px;
  height: 152px;
  padding-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

.productdetailContainerLeftFourthDescriptionList {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 97px;
}

.productdetailContainerLeftFourthDescriptionLeft {
  width: 138px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

.productdetailContainerLeftFourthDescriptionRight {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 0;
}

.productdetailContainerRight {
  width: 760px;
  height: 827px;
}

.productdetailContainerRightTop {
  width: 427px;
  height: 367px;
}

.productdetailContainerRightTopFirst {
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}
.productdetailContainerRightTopSecond {
  width: 71px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background-color: #fa902d;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.productdetailContainerRightTopThird {
  width: 180px;
  height: 51px;
  margin-bottom: 16px;
}

.productdetailContainerRightTopThirdBottom {
  height: 24px;
  display: flex;
  align-items: top;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.productdetailContainerRightTopFourth {
  width: 427px;
  height: 116px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.productdetailContainerRightTopFourthList {
  margin: 0;
  padding: 0;
  height: 24px;
  display: flex;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 8px;
}

.productdetailContainerRightTopFourthList p {
  margin: 0;
  padding: 0;
}
.productdetailContainerRightTopFourthListImage {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.productdetailContainerRightBottom {
  width: 760px;
  height: 415px;
  background-color: #ffe8d4;
  border-radius: 12px;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  overflow-y: scroll;
}

.productdetailContainerRightBottom::-webkit-scrollbar {
  display: none;
}

.productdetailContainerRightBottomFirst {
  width: 728px;
  height: 152px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  display: flex;
  align-items: top;
  gap: 109px;
}

.productdetailContainerRightBottomFirstLeft {
  width: 262px;
  margin: 0;
  padding: 0;
}

.productdetailContainerRightBottomFirstLeft p {
  margin: 0;
  padding: 0;
}

.productdetailContainerRightBottomFirstCenter {
  margin: 0;
  padding: 0;
  width: 2px;
  border-left: 2px solid #282323;
  height: 152px;
}

.productdetailContainerRightBottomFirstRightRating {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 80px;
  height: 24px;
  margin-bottom: 8px;
}

.productdetailContainerRightBottomFirstRightRatingStars {
  width: 128px;
}

.RatingStarImage {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.RatingStarText {
  font-size: 20px;
  font-weight: 400;
  color: #282323;
}

.productdetailContainerRightBottomSecond {
  width: 728px;
  /* height: 260px; */
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.productdetailContainerRightBottomSecondRating {
  width: 260px;
  height: 24px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 18px;
}

.productdetailContainerRightBottomSecondRatingStars {
  width: 128px;
  height: 24px;
  display: flex;
  align-items: top;
  gap: 2px;
}

.productdetailContainerRightBottomSecondRatingStarsText {
  margin: 0;
  padding: 0;
  width: 115px;
  /* height: 24px; */
  font-size: 14px;
  font-weight: 400;
  color: #46474b;
}

.productdetailContainerRightBottomSecondRatingDescription {
  width: 728px;
  height: 57px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 16px;
}

.productdetailContainerRightBottomSecondRatingImages {
  width: 528px;
  height: 120px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.productdetailContainerRightBottomSecondRatingImagesContainer {
  width: 120px;
  height: 120px;
}

.reviewImages {
  width: 120px;
  height: 90px;
}

.productdetailContainerBottom {
  width: 1140px;
  height: 348px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.productdetailContainerBottomSecond {
  width: 1140px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
}

.productdetailContainerBottomSecond::-webkit-scrollbar {
  display: none;
}

.productdetailContainerBottomImageContainer {
  width: 212px;
  height: 294px;
  background-color: #ffe8d4;
  border-radius: 12px;
}

.productdetailContainerBottomImageContainerTitle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 4px;
  margin-left: 16px;
}

.productdetailContainerBottomImageContainerPrice {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #fa902d;
  margin-bottom: 4px;
  margin-left: 16px;
}

.productdetailContainerBottomImageContainerPastPrice {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  color: #8f8787;
  margin-left: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.productdetailBottomImage {
  width: 212px;
  height: 201px;
  margin: 0;
  padding: 0;
}
